<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Juicy_Swapper_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Juicy_Swapper_v2.Properties.Settings>
            <setting name="pakPath" serializeAs="String">
                <value>C:\Program Files\Epic Games\Fortnite\FortniteGame\Content\Paks</value>
            </setting>
            <setting name="pakCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skinTabEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="miscTabEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="renegadeRaiderEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="renegadeRaiderCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skullTrooperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ghoulTrooperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fallenLoveRangerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dummyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="galaxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="galacticDiscEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stellarAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="raidersRevengeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="merryMintAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bootstrapsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="driverEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="harleyHitterEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="widowsBiteEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="candyAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="studdedAxeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Juicy_Swapper_v2.Properties.Settings>
    </userSettings>
</configuration>